<div class="row">
{{#each notes }}
    <div class="col-4">
        <div class="card card-body text-center my-3">
            <h3 class="card-title">{{title}}</h3>
            <p clas="card-text">{{text}}</p>
            <div class="row justify-content-around">
                <div class="col-4">
                    <a class="btn btn-primary" href="/note/edit/{{id}}">Modifica</a>
                </div>
                <div class="col-4">
                    <form method="POST" action="/note/delete/{{id}}?_method=DELETE">
                        <input type="submit" class="btn btn-danger" value="Elimina">
                    </form>
                </div>
            </div>
        </div>
    </div>
{{else}}
    <div class="card card-body my-3">
        <h3>Non hai ancora memorizzato nessuna nota! <br><a href="/note/add">Creane una ora</a></h3>
    </div>
{{/each}}
</div>